@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body{
    margin: 0; 
    font-family: 'Noto Sans', sans-serif;
}
.main-login{
    width: 100vw; /*100% da sua viewport widht do seu monitor*/
    height: 100vh; /*100% da sua viewport hight do seu monitor*/
    background-color: #201b2c;
    display: flex; /*tudo fica lado a lado no flex*/
    justify-content: center;
    align-items: center;
    

}
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex; 
    justify-content: center;
    
    align-items: center;
    flex-direction: column;
}
.left-login > h1{
    font-size: 3vw;
    color: #F07C00;
}
.left-login-image{
    
    width: 33vw;
    height: 80vh;
    
    
}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.card-login{
    
    width: 70%;/*60% da div de 50vw*/
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px ;/*margens para fora do documento*/
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}


.card-login>h1{
    color: #F07C00;
    font-weight: 800;
    margin: 0;
}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color:#F07C00;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color:#f0ffffde;
    margin-bottom: 10px;
    }

.textfield >input::placeholder{
    color:#f0ffffde;
}
.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2b134b;
    background-color: #F07C00;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #f09f48;
}
